.modal {
  position: fixed;
  top: 50px;
  right: 50%;
  transform: translateX(50%);
  width: 500px;
  margin: 50px auto;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: .3rem;
  background-color: #fff;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

.modal-header {
  padding: 1rem;
  border-bottom: 1px solid #e9ecef;
}

.modal-title {
  font-size: 1.25rem;
  margin: 0;
  color: red;
}

.modal-body {
  padding: 1rem;
}

.modal.isHidden {
  display: none;
}
